
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333333;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    color: #fff; /* Change navigation link color */
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px; /* Add padding to main content for spacing */
    text-align: center; /* Center-align content */
}

/* Headings styles */
h1 {
    color: #f5f1f1; /* Change heading text color */
}

h2, h3 {
    color: #333; /* Change heading text color */
}
/* Paragraph styles */
p {
    color: #555; /* Change paragraph text color */
    line-height: 1.6; /* Add line height for better readability */
}


.logo {
    width: 121px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the logo and the text */
    position: absolute; /* Position the logo absolutely */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
}

/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: rgb(249, 241, 241);
    padding: 20px 0; /* Adjust padding as desired */
  /*  text-align: center;
}*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: rgb(249, 241, 241);
    padding: 20px 0;
    text-align: center;
}


/* Added styles for dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Adjusted styles for dropdown button */
.dropbtn {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #343a40;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #555; /* Adjusted hover color */
}

/* Adjusted header styles */
header {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative; /* Added position relative */
}

/*-----*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}